.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#output {
  display: flex;
  align-items: center;
  justify-content: center;
}

#random-image {
  width: 800px;
  z-index: 0;
}

.quotes {
  position: absolute;
  z-index: 1;
  max-width: 700px;
  text-align: center;
  color: white;
  font-size: 20px;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
